
.btn-primary{
    background: #808080 !important;
}

.tab-nav:not([data-tab-color]) > li > a:after{
    background: #808080;
}

a, a:hover, a:focus {
    color: #808080;
}
.fg-line:not([class*=has-]):after {
    background: #808080;
}
.checkbox .input-helper:after {
    border-bottom: 2px solid #808080;
    border-left: 2px solid #808080;
}
body.login-content::before {
    height: 100%;
    background: #808080;
}


.btn-success{
    color: #ffffff;
    background-color: #333 !important;
}
.alert-success {
    background-color: #333;
}
.progress-bar-success{
    background-color: #333;
}

/** datepicker **/
.datepicker table thead tr:last-child:not(:only-child) {
    background-color: #808080;
}
.datepicker table td.active:before {
    background-color: #808080;
}
.datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.active, .datepicker table tr td span.active:hover.active, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:hover.active {
    background-color: #808080;
}